/* ここから下に記載していく */
html {
    background-image: url(../imgs/sougen53.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

/* --headr-- */
/* header {
    margin-top: 10px;
    font-size: 5px;
} */

/* body */
body {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    font-family: "Meiryo UI";
}

#title {
    margin-top: 100px;
    font-size: 100px;
    text-shadow: 0 0 15px #20529f;
    color: #fff;
}

#stb {
    margin: 100px 0 100px 0;
    font-size: 80px;
}

button {
    border-radius: 10px;
    font-weight: bold;
    border: 2px solid #27acd9;
    color: #27acd9;
    transition: 0.5s;
    font-size: 20px;
}

button:hover {
    color: #fff;
    background: #27acd9;
}

#game {
    display: none;
}

#title2 {
    text-shadow: 0 0 15px #20529f;
    color: #fff;
    font-size: 40px;
}

#num {
    color: #ff0000;

}

#numL {
    visibility: hidden;
}

#numR {
    visibility: hidden;
}
#starnum {
    visibility: hidden;
}

#ladybug {
    display: none;
    display: flex;
    display: block;
}

#boy {
    width: 200px;
}

#girl {
    width: 200px;
}

.box {
    width: 380px;
    height: 320px;
}

#AfClickL {
    position: relative;
    display: flex;
    flex-wrap: wrap;

}

#ladybugL {
    position: absolute;
    text-align: left;
    top: 80px;
    left: 80px;
    right: 80px;
}

#AfClickR {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

#ladybugR {
    position: absolute;
    text-align: left;
    top: 80px;
    left: 80px;
    right: 80px;
}

#maru2 {
    width: 230px;
}

#batsu2 {
    width: 230px;
}
#win {
    width: 200px;
}
#winc {
    display: none;
    font-size: 30px;
}

.img {
    width: 50px;

}

#container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#back {
    width: 100%;
    background-image: url(../imgs/wallpaper.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: auto;

}

#popup {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#popdesignL {
    font-size: 40px;
    background-color: azure;
    border-radius: 10px;
    /* padding: 1rem 1rem 1rem 1.5rem; */
}

#popdesignR {
    font-size: 40px;
    background-color: azure;
    border-radius: 10px;
}